{% load static %}

<!DOCTYPE html >
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta charset="utf-8" />
	<style>
		@media print {
			#btndownload {
				display: none;
			}
		}
	</style>
	{% block head %}
	{% endblock head %}
</head>

<body style="margin: 0;">

<div id="p1" style="overflow: hidden; position: relative; background-color: white; width: 909px; height: 1286px;">

<!-- Begin shared CSS values -->
<style class="shared-css" type="text/css" >
.t {
	-webkit-transform-origin: bottom left;
	-ms-transform-origin: bottom left;
	transform-origin: bottom left;
	-webkit-transform: scale(0.25);
	-ms-transform: scale(0.25);
	transform: scale(0.25);
	z-index: 20;
	position: absolute;
	white-space: pre;
	overflow: visible;
	line-height: 1.5;
	color: black;
}
.t::-moz-selection {
	color: transparent;
	background: rgba(0, 106, 173, 0.4);
}
.t::selection {
	color: transparent;
	background: rgba(0, 106, 173, 0.4);
}


.mine1 {
	position: absolute;
	z-index: 21;
	overflow: visible;
	line-height: 1.5;
}

#btndownload {
	position: absolute;
	z-index: 25;
	overflow: visible;
	right:100px;
	top:40px;
}

</style>
<!-- End shared CSS values -->


<!-- Begin inline CSS -->
<style type="text/css" >

#t1_1{left:169px;bottom:1229px;word-spacing:0.2px;}
#t2_1{left:169px;bottom:1210px;word-spacing:-0.2px;}
#t3_1{left:169px;bottom:1190px;word-spacing:-0.2px;}
#t4_1{left:169px;bottom:1171px;word-spacing:-0.1px;}
#t5_1{left:169px;bottom:1151px;word-spacing:0.2px;}
#t6_1{left:279px;bottom:1103px;word-spacing:0.2px;}
#t7_1{left:110px;bottom:1036px;}
#t8_1{left:110px;bottom:1003px;}
#t9_1{left:550px;bottom:1003px;}
#ta_1{left:110px;bottom:870px;}
#tb_1{left:110px;bottom:837px;}
#tc_1{left:168px;bottom:837px;}
#tp_1{left:147px;bottom:970px;}
#tt_1{left:600px;bottom:971px;}
#tu_1{left:701px;bottom:774px;letter-spacing:-0.1px;}
#tv_1{left:702px;bottom:750px;letter-spacing:-0.1px;}
#tw_1{left:716px;bottom:726px;}

#tmine_1{left:109px; top:453px;}


.s1{
	FONT-SIZE: 67.2px;
	FONT-FAMILY: LiberationSerif-Bold_n;
	color: black;
}

.s2{
	FONT-SIZE: 67.2px;
	FONT-FAMILY: LiberationSerif_s;
	color: black;
}

.s3{
	FONT-SIZE: 73.3px;
	FONT-FAMILY: LiberationSerif-Bold_n;
	color: black;
}

.s4{
	FONT-SIZE: 73.3px;
	FONT-FAMILY: LiberationSerif_s;
	color: black;
}

.s5{
	FONT-SIZE: 73.3px;
	FONT-FAMILY: Carlito_i;
	color: black;
}

.s6{
	FONT-SIZE: 61.1px;
	FONT-FAMILY: NotoSansCJKjp-Regular-VKana_d;
	color: black;
}

.s7{
	FONT-SIZE: 61.1px;
	FONT-FAMILY: LiberationSans_x;
	color: black;
}



.s5_n{
	FONT-SIZE: 18px;
	FONT-FAMILY: LiberationSerif_s;
	color: black;
}

.s4_n{
	FONT-SIZE: 17px;
	FONT-FAMILY: Carlito_i;
	color: black;
	margin-left:11px;
}

</style>
<!-- End inline CSS -->

<!-- Begin embedded font definitions -->
<style id="fonts1" type="text/css" >

@font-face {
	font-family: Carlito_i;
	src: url("{% static 'fonts/Carlito_i.woff' %}") format("woff");
}

@font-face {
	font-family: LiberationSans_x;
	src: url("{% static 'fonts/LiberationSans_x.woff' %}") format("woff");
}

@font-face {
	font-family: LiberationSerif-Bold_n;
	src: url("{% static 'fonts/LiberationSerif-Bold_n.woff' %}") format("woff");
}

@font-face {
	font-family: LiberationSerif_s;
	src: url("{% static 'fonts/LiberationSerif_s.woff' %}") format("woff");
}

@font-face {
	font-family: NotoSansCJKjp-Regular-VKana_d;
	src: url("{% static 'fonts/NotoSansCJKjp-Regular-VKana_d.woff' %}") format("woff");
}

</style>
<!-- End embedded font definitions -->

<style>
#konvert {
	position: absolute;
	background: #444;
	border: 2px solid #444;
	border-radius: 1px;
	padding: 10px;
	color: #fff;
	font-weight: bold;
}

#konvert:hover {
	background: #fff;
	color: #444;
}
</style>

<!-- Begin page background -->
<div id="pg1Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
<div id="pg1" style="-webkit-user-select: none;"><object width="909" height="1286" data="{% static '1/1.svg' %}" type="image/svg+xml" id="pdf1" style="width:909px; height:1286px; -moz-transform:scale(1); z-index: 0;"></object></div>
<!-- End page background -->


<!-- Begin text definitions (Positioned/styled in CSS) -->
<div id="t1_1" class="t s1">PANITIA MUSYAWARAH NASIONAL (MUNAS)</div>
<div id="t2_1" class="t s1">IKATAN MAHASISWA ILMU KOMUNIKASI INDONESIA (IMIKI)</div>
<div id="t3_1" class="t s1">CABANG SMST (SURABAYA, MADURA, SIDOARJO, TUBAN)</div>
<div id="t4_1" class="t s2">Telp : 088996787334 / 082244578957 | E-Mail: munasximikisurabaya@gmail.com</div>
<div id="t5_1" class="t s2">Sekertariat: Jl. Menanggal 1, Kompleks Peni No: 46 Surabaya, Jawa Timur</div>
<div id="t6_1" class="t s3">FORMULIR PENDAFTARAN PESERTA MUNAS </div>
<div id="t7_1" class="t s3">Untuk Diisi Panitia:</div>
<div id="t8_1" class="t s4">Nomor urut pendaftaran:</div>
<div id="t9_1" class="t s4">Tanggal pendaftaran:</div>
<div id="ta_1" class="t s3">Data Peserta</div>
<div id="tb_1" class="t s3">Peserta</div>
<div id="tc_1" class="t s3">:</div>
<div id="tu_1" class="t s5">Pasfoto</div>
<div id="tv_1" class="t s5">terbaru</div>
<div id="tw_1" class="t s5">3x4</div>

{% block isi %}
{% endblock isi %}

<!-- End text definitions -->

</div>
{% block btndownload %}
{% endblock btndownload %}

</body>
</html>
