{% extends 'formulir/base.html' %}

{% block head %}
<title>{{ nomor_peserta }}</title>
{% endblock head %}

{% block isi %}

<div id="tp_1" class="t s4">{{ nomor_peserta }}</div>
<div id="tt_1" class="t s4">{{ tanggal_pendaftaran }}</div>


<div id="tmine_1" class="mine1">
	<table style="width:530px; border-spacing: 0 5px; ">
		<col width="163">
		<tr>
			<td style="vertical-align: top; ">
			<table style="width:100%; height:100%;">
				<tr>
					<div class="s5_n">Nama Lengkap</div>
				</tr>
			</table>
			</td>
			<td style="border: 1px solid black;">
				<div class="s4_n">{{ nama_lengkap }}</div>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top; ">
			<table style="width:100%; height:100%;">
				<tr>
					<div class="s5_n">Tempat/Tgl Lahir</div>
				</tr>
			</table>
			</td>
			<td style="border: 1px solid black;">
				<div class="s4_n">{{ ttl }}</div>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top; ">
			<table style="width:100%; height:100%;">
				<tr>
					<div class="s5_n">Jenis kelamin</div>
				</tr>
			</table>
			</td>
			<td style="border: 1px solid black;">
				<div class="s4_n">{{ jenis_kelamin }}</div>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top; ">
			<table style="width:100%; height:100%;">
				<tr>
					<div class="s5_n">Asal Kampus</div>
				</tr>
			</table>
			</td>
			<td style="border: 1px solid black;">
				<div class="s4_n">{{ asal_kampus}}</div>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top; ">
			<table style="width:100%; height:100%;">
				<tr>
					<div class="s5_n">Jurusan/Prodi</div>
				</tr>
			</table>
			</td>
			<td style="border: 1px solid black;">
				<div class="s4_n">{{jurusan_prodi}}</div>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top; ">
			<table style="width:100%; height:100%;">
				<tr>
					<div class="s5_n">Cabang/Wilayah</div>
				</tr>
			</table>
			</td>
			<td style="border: 1px solid black;">
				<div class="s4_n">{{ cabang_wilayah }}</div>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top; ">
			<table style="width:100%; height:100%;">
				<tr>
					<div class="s5_n">Angkatan</div>
				</tr>
			</table>
			</td>
			<td style="border: 1px solid black;">
				<div class="s4_n">{{ angkatan }}</div>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top; ">
			<table style="width:100%; height:100%;">
				<tr>
					<div class="s5_n">No.Handphone</div>
				</tr>
			</table>
			</td>
			<td style="border: 1px solid black;">
				<div class="s4_n">{{ no_hp }}</div>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top; ">
			<table style="width:100%; height:100%;">
				<tr>
					<div class="s5_n">Alamat Email</div>
				</tr>
			</table>
			</td>
			<td style="border: 1px solid black;">
				<div class="s4_n">{{ email }}</div>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top; ">
			<table style="width:100%; height:100%;">
				<tr>
					<div class="s5_n">Instagram</div>
				</tr>
			</table>
			</td>
			<td style="border: 1px solid black;">
				<div class="s4_n">{{ instagram }}</div>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top; ">
			<table style="width:100%; height:100%;">
				<tr>
					<div class="s5_n">Alamat</div>
				</tr>
			</table>
			</td>
			<td style="border: 1px solid black;">
				<div class="s4_n" style="min-height:150px;">{{ alamat }}</div>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top; ">
			<table style="width:100%; height:100%;">
				<tr>
					<div class="s5_n">Riwayat Penyakit</div>
				</tr>
			</table>
			</td>
			<td style="border: 1px solid black;">
				<div class="s4_n">{{ riwayat_penyakit }}</div>
			</td>
		</tr>
	</table>
</div>
{% endblock isi %}

{% block btndownload %}
<a id="btndownload" href="someRealUrl" onclick="document.title='{{nomor_peserta}}'; window.print(); return false;"><h1>PRINT PDF</h1></a>
{% endblock btndownload %}