<!DOCTYPE html> 
<html lang="en"> 
<head> 
	<meta charset="UTF-8"> 
	<title>Upload File Excel</title> 
</head> 
<body> 
	<form method = "post" enctype="multipart/form-data"> 
		{% csrf_token %} 
		{{ form.as_p }} 
		<button type="submit">Upload</button> 
	</form> 
</body> 
</html> 